In [2]:
import numpy as np
import pandas as pd
import sklearn

In [3]:
from sklearn.linear_model import LinearRegression

In [4]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [5]:
df= pd.read_csv('Flight_data.csv')
df

,Departure City,Arrival City,Departure Date,Flight Duration,Delay Minutes,Customer ID,Name,Booking Class,Frequent Flyer Status,Route,Ticket Price,Competitor Price,Demand,Origin,Destination,Profitability,Loyalty Points,Churned
0,Wilsonstad,Lake Johnmouth,2023-05-02 20:11:09,1.275810,120,3769,Daniel Oliver,Business,Gold,MEL-BNE,370.638128,382.947396,-0.932755,MEL,LHR,0.632226,4245,True
1,New Brent,Port Wanda,2023-04-21 00:10:14,1.275810,35,3529,Deborah Hall,Economy,Platinum,BNE-SYD,114.529016,394.583641,-1.005569,MEL,SIN,1.265026,833,True
2,South Samanthaberg,Lake Meganside,2023-05-12 15:16:31,0.721110,67,1303,Mary York,Economy,Platinum,MEL-BNE,164.468018,479.832444,1.761384,MEL,LAX,1.141651,2568,True
3,Lake Gracefurt,Jamesberg,2023-06-13 20:53:09,-0.942990,72,2965,Christina Sanchez,Economy,Gold,BNE-SYD,318.903167,286.301632,-0.520139,MEL,LAX,1.129291,284,True
4,Owenborough,Kelleymouth,2023-05-15 23:06:14,-0.388290,101,8779,Dustin Owens,Economy,Silver,BNE-SYD,389.971051,407.463316,-0.665768,BNE,SIN,1.218239,2805,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Brittneychester,South Patricia,2023-06-07 01:09:54,-1.497691,15,6848,Brittney Swanson,Economy,Silver,SYD-MEL,210.236193,275.963390,0.208007,BNE,LAX,1.127112,3522,True
96,South Staceyhaven,West Kenneth,2023-05-19 23:13:31,-1.497691,84,3724,Jessica Johnson,Business,Gold,BNE-SYD,184.330189,246.368703,-0.520139,BNE,SIN,0.569017,3244,True
97,Arnoldtown,Morriston,2023-05-22 11:51:34,0.166410,8,8395,Amber Mcclure,First,Gold,SYD-MEL,464.282801,199.549449,-0.981298,SYD,LAX,0.531339,1484,True
98,Murrayhaven,Lake Jennifermouth,2023-05-27 21:15:35,-0.942990,7,4142,Lisa Luna,First,Gold,BNE-SYD,457.453579,280.391721,0.741980,SYD,LHR,1.483030,1328,True
99,Butlerside,East Morganburgh,2023-06-03 14:46:08,0.721110,1,1017,Jeffrey Turner,Business,Platinum,MEL-BNE,168.629774,425.605440,0.086649,SYD,SIN,0.908496,4950,False

In [ ]:
df.shape

In [6]:
#A function that takes the passenger name as input, checks which booking class the passenger belongs to, 
#and returns the average delay time.
def fun1(name):
    data=df.loc[df['Name']==name]
    print(data.loc[:,['Name','Delay Minutes','Booking Class']])

In [7]:
fun1('Deborah Hall')

           Name  Delay Minutes Booking Class
1  Deborah Hall             35       Economy

In [8]:
#A function that will create a new column - Price difference, that will contain the 
#price difference between the actual fare and the competitor fare for only the Gold status passengers.
def fun2():
    n=0
    df['Price difference']=''
    for i in df['Frequent Flyer Status']:
        if i == 'Gold':
            df['Price difference'].loc[n]=df['Ticket Price'].loc[n] -df['Competitor Price'].loc[n]
            n+=1
        else:
            df['Price difference'].loc[n]=''
            n+=1

In [9]:
fun2()
df

C:\Users\469111\AppData\Local\Temp\1\ipykernel_504\2368374864.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price difference'].loc[n]=df['Ticket Price'].loc[n] -df['Competitor Price'].loc[n]
C:\Users\469111\AppData\Local\Temp\1\ipykernel_504\2368374864.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price difference'].loc[n]=''

,Departure City,Arrival City,Departure Date,Flight Duration,Delay Minutes,Customer ID,Name,Booking Class,Frequent Flyer Status,Route,Ticket Price,Competitor Price,Demand,Origin,Destination,Profitability,Loyalty Points,Churned,Price difference
0,Wilsonstad,Lake Johnmouth,2023-05-02 20:11:09,1.275810,120,3769,Daniel Oliver,Business,Gold,MEL-BNE,370.638128,382.947396,-0.932755,MEL,LHR,0.632226,4245,True,-12.309268
1,New Brent,Port Wanda,2023-04-21 00:10:14,1.275810,35,3529,Deborah Hall,Economy,Platinum,BNE-SYD,114.529016,394.583641,-1.005569,MEL,SIN,1.265026,833,True,
2,South Samanthaberg,Lake Meganside,2023-05-12 15:16:31,0.721110,67,1303,Mary York,Economy,Platinum,MEL-BNE,164.468018,479.832444,1.761384,MEL,LAX,1.141651,2568,True,
3,Lake Gracefurt,Jamesberg,2023-06-13 20:53:09,-0.942990,72,2965,Christina Sanchez,Economy,Gold,BNE-SYD,318.903167,286.301632,-0.520139,MEL,LAX,1.129291,284,True,32.601535
4,Owenborough,Kelleymouth,2023-05-15 23:06:14,-0.388290,101,8779,Dustin Owens,Economy,Silver,BNE-SYD,389.971051,407.463316,-0.665768,BNE,SIN,1.218239,2805,True,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Brittneychester,South Patricia,2023-06-07 01:09:54,-1.497691,15,6848,Brittney Swanson,Economy,Silver,SYD-MEL,210.236193,275.963390,0.208007,BNE,LAX,1.127112,3522,True,
96,South Staceyhaven,West Kenneth,2023-05-19 23:13:31,-1.497691,84,3724,Jessica Johnson,Business,Gold,BNE-SYD,184.330189,246.368703,-0.520139,BNE,SIN,0.569017,3244,True,-62.038514
97,Arnoldtown,Morriston,2023-05-22 11:51:34,0.166410,8,8395,Amber Mcclure,First,Gold,SYD-MEL,464.282801,199.549449,-0.981298,SYD,LAX,0.531339,1484,True,264.733352
98,Murrayhaven,Lake Jennifermouth,2023-05-27 21:15:35,-0.942990,7,4142,Lisa Luna,First,Gold,BNE-SYD,457.453579,280.391721,0.741980,SYD,LHR,1.483030,1328,True,177.061859
99,Butlerside,East Morganburgh,2023-06-03 14:46:08,0.721110,1,1017,Jeffrey Turner,Business,Platinum,MEL-BNE,168.629774,425.605440,0.086649,SYD,SIN,0.908496,4950,False,

In [ ]:
#Write a python class that will contain the following, (NOTE- Create a copy of the data to perform the following):
#A function that provides statistics of passengers that churned having loyalty points below than the average 
#only from the gold status passengers.

In [10]:
def fun3():
    df1=pd.DataFrame()
    df1=df.loc[(df['Loyalty Points'] < (df['Loyalty Points'].mean())) & (df['Churned'] == True) & (df['Frequent Flyer Status'] == 'Gold')]
    print(df1)

In [11]:
fun3()

        Departure City         Arrival City       Departure Date  \
3       Lake Gracefurt            Jamesberg  2023-06-13 20:53:09
9           Josephtown     Port Kennethfurt  2023-06-08 03:03:54
14         Port Angela          Grahamburgh  2023-06-02 14:55:21
15  Lake Stephaniefurt      South Mariaview  2023-05-15 20:45:00
22   Port Matthewshire           Weaverberg  2023-05-10 10:06:19
23         Simpsonstad            New Cathy  2023-05-11 22:47:43
24         Sandramouth           Rogersfort  2023-05-15 04:40:39
30      North Lorifurt          Johnsontown  2023-05-15 05:57:12
36            Coxburgh           Levineport  2023-04-23 14:45:53
56     East Thomasland  North Jennifershire  2023-06-02 08:08:42
61      Michaelchester           Fullerbury  2023-05-07 23:32:44
83     North Karenstad          Ashleyburgh  2023-04-29 16:55:10
97          Arnoldtown            Morriston  2023-05-22 11:51:34
98         Murrayhaven   Lake Jennifermouth  2023-05-27 21:15:35

    Flight Duration  Delay Minutes  Customer ID                  Name  \
3         -0.942990             72         2965     Christina Sanchez
9          1.275810             47         3065           David Cline
14        -1.497691             44         9029      William Chambers
15         0.166410             67         2165        Tommy Odonnell
22        -1.497691             42         5018  Mrs. Lisa Horton DDS
23        -1.497691             94         6151          Tracey Mayer
24        -1.497691             70         3345        Patricia Avery
30         1.275810             83         9494     Kimberly Sullivan
36        -0.388290             55         1725        Matthew Rogers
56         1.275810             72         1524        Carolyn Crosby
61         0.721110            113         6778       Melissa Francis
83        -1.497691             28         5152         Lauren Hanson
97         0.166410              8         8395         Amber Mcclure
98        -0.942990              7         4142             Lisa Luna

   Booking Class Frequent Flyer Status    Route  Ticket Price  \
3        Economy                  Gold  BNE-SYD    318.903167
9       Business                  Gold  SYD-MEL    145.367999
14         First                  Gold  BNE-SYD    468.874184
15      Business                  Gold  MEL-BNE    123.967678
22       Economy                  Gold  BNE-SYD    150.233380
23      Business                  Gold  BNE-SYD    260.730659
24       Economy                  Gold  BNE-SYD    303.786691
30       Economy                  Gold  BNE-SYD    395.598572
36       Economy                  Gold  BNE-SYD    411.318968
56         First                  Gold  MEL-BNE    126.493990
61       Economy                  Gold  BNE-SYD    255.847163
83      Business                  Gold  SYD-MEL    404.806370
97         First                  Gold  SYD-MEL    464.282801
98         First                  Gold  BNE-SYD    457.453579

    Competitor Price    Demand Origin Destination  Profitability  \
3         286.301632 -0.520139    MEL         LAX       1.129291
9         109.246693  0.353636    BNE         SIN       0.924060
14        374.625186  0.086649    BNE         LHR       0.538506
15        151.648804  0.572080    MEL         LHR       0.689366
22        475.401269 -0.010437    BNE         SIN       1.013622
23        359.630539  0.256550    BNE         LAX       0.997038
24        273.557763 -0.884212    SYD         SIN       1.024659
30        437.424572  1.324497    MEL         LAX       0.844142
36        222.000616 -0.131794    BNE         LHR       1.149602
56        129.377524 -1.418185    MEL         LHR       0.551129
61        389.827375 -0.981298    MEL         LAX       0.705344
83        391.297939 -0.835669    BNE         LAX       0.943019
97        199.549449 -0.981298    SYD         LAX       0.531339
98        280.391721  0.741980    SYD         LHR       1.483030

    Loyalty Points  Churned Price difference
3              284     True        32.601535
9              112     True        36.121306
14            2176     True        94.248998
15            1893     True       -27.681127
22             854     True       -325.16789
23            1059     True        -98.89988
24            1506     True        30.228928
30            1544     True       -41.826001
36            2343     True       189.318352
56            1109     True        -2.883535
61             938     True      -133.980211
83             329     True        13.508431
97            1484     True       264.733352
98            1328     True       177.061859

In [ ]:
#A function that returns the number of flights originating from a given destination taken from input, 
# that was subject to higher delay times than the average delay time.

In [ ]:
def fun4(dest):
    d=df.loc[(df['Destination']==dest) & ((df['Delay Minutes']) > (df['Delay Minutes'].mean()))]
    print(d.loc[:,['Departure City','Arrival City','Delay Minutes','Customer ID']]);

In [ ]:
fun4('LHR')

In [ ]:
#df.loc[df['Delay Minutes'] > (df['Delay Minutes'].mean())]
#df.groupby(['Destination']).count()
#d=df.loc[df['Destination']=='LHR'].count()
#print("number of flights :", d['Churned'])

df.loc[(df['Destination']=='LHR') & ((df['Delay Minutes']) > (df['Delay Minutes'].mean()))]
#print("number of flights :", d['Churned'])

In [ ]:
#A function that will create two new columns, first name, and Last name, and delete the original name column.

In [ ]:
df[['first_name','last_name']]=df['Name'].loc[df['Name'].str.split().str.len() == 2].str.split(expand=True)
df.drop('Name', axis=1,inplace=True)
df

In [ ]:
#Let’s suppose 5 years ago the average delay time for the business class was 45 Minutes. Has it changed now? 
#(perform hypothesis testing to support your claim)

In [433]:
#Ho : average delay time for the business class has not been changed
#h1:average delay time for the business class has been change

In [446]:
data=df.loc[df['Booking Class'] == 'Business']

In [438]:
from scipy import stats  
from statsmodels.stats import weightstats as stests  
from scipy.stats import ttest_ind 
from scipy.stats import ttest_1samp

In [447]:
t_test, p_val = ttest_1samp(data['Delay Minutes'], 45)  
print("The P-value is: ", p_val,'\n')  
if p_val < 0.05:      
    print(" We can reject the null hypothesis")  
else:  
    print("We can accept the null hypothesis")

The P-value is:  0.021709964125142794

 We can reject the null hypothesis

In [ ]:
#Using python programming, calculate the probability of a business class passenger in the 
#gold status getting delayed more than 60 minutes.

In [484]:
from scipy.stats import norm
import numpy as np
  
data=df.loc[(df['Booking Class'] == 'Business') & (df['Frequent Flyer Status'] == 'Gold')]
data1=data['Delay Minutes'].values.tolist()

mean = np.mean(data1)
std = np.std(data1)
#x=data.loc[data['Delay Minutes']>60]
#y=data['Delay Minutes'].values.tolist()
  
probability_pdf = norm.pdf(60, loc=mean, scale=std)
print(probability_pdf)

# As the pdf is 0.012, it shows probability of a business class passenger in the gold status are 
#getting delayed more than 60 minutes in chance of 1 %

0.012374657800736653

In [ ]:
#8) Create a machine learning model that will predict if the passenger will churn or not. 
#(we will use the accuracy score for evaluation of the model.)

accuracy_score : 65%

In [509]:
#churn_numeric = {'Yes':1, 'No':0}
#df.Churned.replace(churn_numeric, inplace=True)

In [ ]:
#9) Create a machine learning model that will predict the delay time in minutes. 
#(We will use the mean squared error for evaluation.)
Mean Square error: 21.5506

In [ ]:
#10) Write a SQL query for the following:
#Display the Share of customer pool under each Booking class.

--Display the Share of customer pool under each Booking class.
select Booking_Class,Customer_ID,Name
FROM dbo.Flight_data
order by Booking_Class

--Create a Pivoted table to show the Average Ticket Price of each Frequent_Flyer_Status on each routes

select *
FROM dbo.Flight_data

select Frequent_Flyer_Status,AVG(Ticket_Price)
FROM dbo.Flight_data
group by Frequent_Flyer_Status

--Display the Customer ID who paid more than the average ticket price of their routes.

select Customer_ID,Route,Ticket_Price
FROM dbo.Flight_data
where Ticket_Price > (select AVG(Ticket_Price) FROM dbo.Flight_data)

--A function that will display Price difference, that will contain the price difference between
--the actual fare and the competitor fare for only the Gold status passengers.

select Customer_ID, Name,(Ticket_Price-Competitor_Price)as Price_difference,Frequent_Flyer_Status FROM dbo.Flight_data
where Frequent_Flyer_Status = 'Gold'

--A function that takes the passenger name as input, checks which booking class the passenger belongs to,
--and returns the average delay time.

create function details(@name as varchar(20))
returns table
as
return(select Name,Booking_Class,Delay_Minutes
FROM dbo.Flight_data where name= @name)

select * from dbo.details('Daniel Oliver')